.square{
  background-color: rgba(255, 228, 196, 0);
  width: 250px;
  height: 250px;
  /* border: solid 1px #000; */

  text-align: center;
  line-height:210px;
}

.dropzone{
  margin: 20px auto;
  height: 210px;
  width: 210px;
  border: dashed 2px rgb(0, 0, 0);
  border-radius: 50%;
  background-color: rgba(204, 204, 204, 0.7);
  display: flex;
  flex-direction: row;
  justify-content:center; 
  align-content: center;

  font-size: x-large;
  font-weight: bold;
}

.dropzone > div{
  align-self: center;
  pointer-events: none;
}